APP_ENV=development
SECRET_KEY=your_secret_key_here
DB_HOST=localhost
DB_PORT=5432
DB_NAME=postmortemdb
DB_USER=devopsuser
DB_PASSWORD=devopspass
DATABASE_URL=postgresql://devopsuser:devopspass@localhost:5432/postmortemdb
PORT=8080
